# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# production / caches
*.tsbuildinfo
next-env.d.ts

# local env files (never commit real secrets)
.env
.env*.local

# vercel
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.pem
